<nav class="navbar navbar-expand-sm navbar-dark bg-black" aria-label="Third navbar example">
    <div class="container-xl">
        <a class="navbar-brand"><img class="logo img-responsive my-3 mx-2" src="../../../assets/img/Spotify_logo_without_text.png" alt="" srcset=""> Sportify Search</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
            aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Artist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Album</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tracks</a>
                </li>
            </ul>
        </div>
    </div>
</nav>