section {
  font-weight: 100;  
  font-family: 'Nanum Myeongjo', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Raleway', sans-serif;

  span {
    margin-right: 4px;
  }
}
section > .popular {
}