section {
  font-weight: 100;
  font-family: 'Nanum Myeongjo', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Raleway', sans-serif;

  span {
    margin-right: 4px;
  }

  .card {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
      0px 8px 13px rgba(0, 0, 0, 0.1),
      0px 18px 23px rgba(0, 0, 0, 0.1);
  }
}

section>.popular {}
