section {
  font-weight: 100;
  font-family: 'Nanum Myeongjo', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Raleway', sans-serif;

  span {
    margin-right: 4px;
  }

  .card {
    text-shadow: 0 0 30px rgb(0 0 0 / 90%),
      0 0 30px rgb(0 0 0 / 90%),
      0 0 30px rgb(0 0 0 / 90%);
  }
}
