/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';



// ---------------------------------------- //

body {
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Poppins', sans-serif;
    // font-family: 'Quicksand', sans-serif;
    // font-family: 'Raleway', sans-serif;

    .input-group > .form-control:focus {
        border-color: #ffffff00;
        box-shadow: none;
        /* background-color: black; */
    }

}